
  h1{
  text-align:center;
  font-weight:bolder;
  color:rgb(53, 140, 216);
  font-family: monospace;
  font-size: 30px;
  text-decoration:uppercase;
  font-size: larger;
  }
  
  h2{
    color:rgb(92, 12, 12);
    font-style:normal;
    text-align: center;
    text-decoration:none;
    font-size: large;
  }

  p{
  color:black;
  font-style:normal;
  text-align:center;
  text-decoration:none;
  font-size:medium;
  }
  
  h3{
    color:brown;
    font-style:italic;
    text-align:left;
    text-decoration:none;
    font-size: medium;
  }
p{
  color:bisque;
  font-style:normal;
  text-align:left;
  text-decoration:none;
  font-size:small;
}
  
  #main_text{
   color:black;
   text-align:center;
   font-size: medium;
  text-transform:none;
  text-indent:1px;
  word-spacing:normal;
  letter-spacing:normal;
  line-height:normal;


  }
  
  #My_ text{
    text-align: justify;  
    text-indent: 35px;
    letter-spacing:normal;
    width: 180px;
    word-spacing: 12px;
    letter-spacing: 5px;
  }

  .menu:link{
 background-color:yellow;
 color:red;
  }
  